<!--<?php print <<<EOT
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$db_blogname} {$db_metatitle} - powered by lxblog.net</title>
<meta name="keywords" content="$db_metakeyword" />
<meta name="description" content="$db_metadescrip" />
<style type="text/css">
.ip{ border:1px solid #7DE7FD; padding:2px;color:#666 ; height:15px; vertical-align:middle; font-size:14px}
p{ margin:0 0 1em}
.bt{ padding-top:.1em ;padding-left:.5em ;padding-right:.5em; background:url($imgpath/$stylepath/bt.gif) left top; border:1px solid #7DE7FD; color:#35A0B6; font-size:12px; font-family:Tahoma}
.c{clear:both;height:1px;font:1px/1px Arial; margin-top:-1px}
.fr,.right{float:right}
/*login*/
.logintable td{ padding:.2em 0}
</style>
</head>
<body style="font-size:12px">
<form action="$sendpwdurl?action=getback" method="post" name="formct">
	<input type="hidden" name="step" value="2">
	<div style="width:400px; padding:1px 0;background:#fff; border:1px solid #D2E8F1;margin:50px auto">
		<div style="width:396px; margin:auto ;background:url($imgpath/$stylepath/bodybg.gif) ;height:60px; overflow:hidden"> <a href="$db_blogurl"><img src="$imgpath/$stylepath/logo.gif" border="0" /></a> </div>
		<div style="width:350px;margin: auto">
			<div style="margin-top:1em">
				<h4 style="color:#8BC5DC">取回密码</h4>
				<div id="showmsg" style="width:90%;margin:-.5em auto 1em;display:none;"></div>
				<div style="width:90%;margin:-.5em auto 3em;">
					<p>
					<table width="100%" border="0" cellspacing="0" cellpadding="0" class="logintable">
						<tr>
							<td style=" width:22%">
								新密码
							</td>
							<td><input type="password" name="new_pwd" value="" size="40" class="ip" style="width:150px" /></td>
						</tr>
						<tr>
							<td>重复新密码</td>
							<td><input type="password" name="pwdreapt" value="" size="40" class="ip" style="width:150px" /></td>
						</tr>
					</table>
					</p>
					<div class="tac">
					    <input type="hidden" value="$pwuser" name="pwuser" />
					    <input type="hidden" value="$submit" name="submit" />
					    <input type="hidden" value="2" name="jop" />
						<input type="submit" value="  提 交  " class="bt"/>
						<div class="c"></div>
					</div>
				</div>
				<div class="c"></div>
			</div>
		</div>
		<div class="c"></div>
	</div>
</form>
</body>
</html>
<!--
EOT;
?>-->