<!--<?php
print <<<EOT
-->
<br />
<table cellspacing=1 cellpadding=8 width="$tablewidth" $i_table align=center>
	<tr>
		<td bgcolor="#FFFFFF">
			<div style="float:left;">
				<b><a href="simple/index.php">{$db_blogname} </a></b>
			</div>
			<div style="float:right;">
				<b>
				<a href="login.php">登陆</a> -&gt; 
				<a href="register.php">注册</a> -&gt; 
				<a href="user_index.php">博客管理</a> -&gt; 
				<a href="search.php">搜索</a>
				</b>
			</div>
		</td>
	</tr>
</table>
<br />
<table cellspacing=1 cellpadding="3" width="$tablewidth" class=i_table align=center>
	<tr class=head>
		<td><b>$username 的文章</b></td>
	</tr>
	<tr bgcolor="#FFFFFF">
		<td class=tpc_content>
			<ul type=1 start="$start">
<!--
EOT;
foreach($readdb as $value){print <<<EOT
-->
				<li><a href="simple/index.php?type=$value[type]&itemid=$value[itemid]" target="_blank">$value[subject][$value[replies]回复]</a></li>
<!--
EOT;
}print <<<EOT
-->
			</ul>
		</td>
	</tr>
</table>

<table cellspacing=1 cellpadding=0 width="$tablewidth"  align=center>
	<tr><td bgcolor="#FFFFFF">$pages 共:{$count}条记录 </td></tr>
</table>
<br />
<center><b>查看完整版本: [-- <a href="blog.php?uid=$uid" target=_blank>{$username}的个人主页</a> --] [-- <a href="javascript:scroll(0,0)">top</a> --]</b></center>
<!--
EOT;
?>-->
