<!--<?php print <<<EOT
-->
</div>
<br /><br />
<div id="footer">
	<center>
		<small>
			<font color="#999999">
			Powered by <a href="http://www.lxblog.net/" target="_blank"><b>LxBlog</b></a> 
			<a href="http://www.lxblog.net/" target="_blank"><b style="color:#FF9900">v$blog_version</b></a> 
			Code &copy; 2003-07 <a href="http://www.phpwind.net/" target="_blank"><b>PHPWind</b></a> <br />
			$wind_spend $ft_gzip<br /><br />You can  <a href="mailto:$db_ceoemail" class="smalltext b blue">contact us</a>
			</font>
		</small>
	</center>
</div>
</body>
</html>
<!--
EOT;
?>-->