<!--<?php
include_once PrintEot('left');
if(!$set){print <<<EOT
-->
<form action="$basename&set=list&" method="post">
<table width="80%" align="center" cellspacing="1" cellpadding="3" class="i_table">
<tr><td class="head" colspan="2">{$catelang[$job]}评论搜索</td></tr>
<tr class="b"><td width="30%">所属博客用户: </td>
<td><input name="username" size="30" value="">
<input type="checkbox" name="ckusername" value="1" CHECKED>
精确匹配</td></tr>
<tr class="b"><td>评论用户: (可使用通配符 "*")</td>
<td><input name="author" size="30" value="">
<input type="checkbox" name="ckauthor" value="1" CHECKED>
精确匹配</td></tr>
<tr class="b"><td>关键字: (可使用通配符 "*")</td>
<td><input name="keyword" size="30" value=""></td></tr>
<tr class="b"><td>留言日期: </td>
<td><input name="postdate1" size="30" value="$postdate1">
- <input name="postdate2" size="30" value="$postdate2"></td></tr>
<tr class="b"><td>管理选项: </td>
<td>审核: <select name="ifcheck">
<option value="-1">不限制</option>
<option value="0">未审核</option>
<option value="1">已审核</option>
</select></td></tr>
<tr class="b"><td>排序: </td>
<td><input type="radio" name="sc" value="asc" CHECKED> 升序
<input type="radio" name="sc" value="desc"> 降序</td></tr>
<tr class="b"><td>每页显示行数: </td>
<td><input name="perpage" size="15" value="30"></td></tr>
</table><br />
<center><input type="submit" value="提 交"></center>
</form>
<!--
EOT;
}elseif($set == 'list'){print <<<EOT
-->
<form action="$basename&set=list&" method="post">
<table width="95%" align="center" cellspacing="0" cellpadding="3" class="i_table">
<tr class="b"><td>所属博客用户(可使用通配符 "*"): <input name="username" size="10" value="">
关键字(可使用通配符 "*"): <input name="keyword" size="20" value="">
排序: <select name="sc">
<option value="asc">升序</option>
<option value="desc">降序</option>
</select>
显示行数: <input name="perpage" size="3" value="30">
<input type="submit" value="提 交"></center></td></tr>
</table>
</form>
<form action="$basename&set=update&" method="post">
<table width="95%" align="center" cellspacing="1" cellpadding="3" class="i_table">
<tr><td class="head" colspan="7">评论列表</td></tr>
<tr class="head_2" align="center">
<td width="5%">ID</td>
<td width="30%">内 容</td>
<td width="15%">所属博客用户</td>
<td width="15%">留言用户</td>
<td width="20%">发表日期</td>
<td width="10%">是否审核</td>
<td width="5%"></td></tr>
<!--
EOT;
$id = ($page-1)*$perpage;
foreach($atcdb as $value){
$value[ifcheck]=$value[ifcheck]==1?'已审':'未审';
$id++;print <<<EOT
-->
<tr class="b" align="center">
<td>$id</td>
<td>$value[content]</td>
<td>$value[username]</td>
<td>$value[author]</td>
<td>$value[postdate]</td>
<td>$value[ifcheck]</td>
<td><input type="checkbox" name="selid[]" value="$value[id]"></td></tr>
<!--
EOT;
}print <<<EOT
-->
</table><br />
<table width="95%" align="center" cellspacing="0" cellpadding="3">
<tr><td>$pages</td></tr>
<tr><td align="right"><input type="radio" name="type" id="delete" value="delete" CHECKED> 删除
<input type="radio" name="type" value="allowcheck"> 通过审核
</td></tr>
</table><br />
<center><input type="button" name="chkall" value="全 选" onclick="CheckAll(this.form)">
<input type="submit" value="提 交" onclick="return Checkdel(this.form,'您确认要删除选中评论？');"></center>
</form>
<!--
EOT;
}?>-->