<!--<?php print <<<EOT
-->
<!--
EOT;
foreach($uploaddb as $value){print <<<EOT
-->
<div id="delete{$value[aid]}">
<table border="0" cellpadding="3" cellspacing="0" width="100%" class="div_upload" style="margin-top:5px;">
  <tr>
	<td>
	  附件：<span id="attname$value[aid]"><a href="$attachpath/$value[attachurl]" target="_blank"><b>$value[name]</b></a> ($value[size] K)
	  <input name="attachdb[]" type="hidden" value="$value[aid]" /> &nbsp;
	  <a href="javascript:;" onclick="DeleteFile('$value[aid]')">删除</a> | 
	  <a href="javascript:;" onclick="addattach('$value[aid]')">插入到内容</a></span>
	</td>
  </tr>
  <tr>
	<td>
	  <div style="float:left;">描述：</div>
	  <div id="attdesc$value[aid]" style="float:left;font-weight:bold">{$value[desc]}</div>
	</td>
  </tr>
</table>
</div>
<!--
EOT;
}
print<<<EOT
-->
<div id="attach" style="margin-top:10px"></div><div id="viewimg" class="menu" style="display:none;"></div>

<script type="text/javascript" language="JavaScript" src="js/upload.js"></script>
<script language="JavaScript">newAttach();</script>
<!--
EOT;
?>