<!--<?php print <<<EOT
-->
  <!--begin main-->
  <div id="main" class="right">
	<div class="box">
	  <h2>基本资料</h2>
	  <!--begin-->
	  <div class="text">
		<table class="blog-content">
		  <tr>
			<td>
				<b>昵称：</b>$blogdb[username] <br />
				<b>性别：</b>$blogdb[gender] <br />
				<b>生日:</b>$blogdb[bday]<br />
				<b>所在城市：</b>$blogdb[province]　　$blogdb[city]<br />
				<b>博客分类：</b>$blogdb[cid]<br/>
			  <div class="c"></div>
			</td>
		  </tr>
		</table>
	  </div>
	  <!--end-->
	  <h2>联系方式</h2>
	  <!--begin-->
	  <div class="text">
		<table class="blog-content">
		  <tr>
			<td>
				<b>QQ：</b>$blogdb[qq] <br />
				<b>Yahoo：</b>$blogdb[yahoo] <br />
				<b>MSN: </b>$blogdb[msn]<br />
			  <div class="c"></div>
			</td>
		  </tr>
		</table>
	  </div>
	  <!--end-->
	  <h2>统计</h2>
	  <!--begin-->
	  <div class="text">
		<table class="blog-content">
		  <tr>
			<td>
				<b>日志：</b>$blogdb[blogs] <br />
				<b>相册：</b>$blogdb[albums] <br />
				<b>相片：</b>$blogdb[photos] <br />
				<b>专辑：</b>$blogdb[malbums] <br />
				<b>歌曲：</b>$blogdb[musics] <br />
				<b>浏览：</b>$blogdb[views] <br />
				<b>评论：</b>$blogdb[comments] <br />
			  <div class="c"></div>
			</td>
		  </tr>
		</table>
	  </div>
	  <!--end-->
	  <h2>其他</h2>
	  <!--begin-->
	  <div class="text">
		<table class="blog-content">
		  <tr>
			<td>
				<b>个人主页：</b><a href="$blogdb[site]" target="_blank">$blogdb[site]</a><br />
				<b>自我简介：</b>$blogdb[introduce] <br />
			  <div class="c"></div>
			</td>
		  </tr>
		</table>
	  </div>
	  <!--end-->
	</div>
  </div>
  <!--end main-->
<!--
EOT;
?>