<!--<?php
if(empty($job)){print <<<EOT
-->
<form action="$basename&" method=POST>
<input type=hidden name="job" value="del">
<input type=hidden name="step" value="2">
<table width="95%" align=center cellspacing=0 cellpadding=5 class="userbg">
<tr class="head" height="25"><td colspan="2"><h2>我的{$db_teamname}</h2> &nbsp;<a href="user_index.php?action=teamcp&job=add">创建属于你自己的{$db_teamname}</a></td></tr>
<tr align='center' height="20">
<td class="head_2" width='5%'>ID</td>
<td class="head_2">{$db_teamname}名称</td>
<td class="head_2">所属分类</td>
<td class="head_2" width='6%'>管理</td>
<td class="head_2" width='6%'>编辑</td>
<td class="head_2" width='5%'>删除</td></tr>
<!--
EOT;
$id=0;
foreach($teamdb as $key => $team){
$id++;
print <<<EOT
-->
<tr align='center'>
<td class="b">$id</td>
<td class="b"><a href="team.php?job=showteam&cid=$team[cid]&teamid=$team[teamid]" target="_blank">$team[name]</a></td>
<td class="b">$team[cname]</td>
<td class="b"><a href="$user_file?action=teamblog&job=search&teamid=$team[teamid]">管理</a></td>
<td class="b"><a href="$basename&job=edit&teamid=$team[teamid]">编辑</a></td>
<td class="b"><input type="checkbox" name="selid[]" value="$team[teamid]"></td></tr>
<!--
EOT;
}print <<<EOT
-->
</table>
<br><center><input class="bt" type=submit value="提 交"></center></form>
<!--
EOT;
} elseif($job=='add' || $job=='edit'){print <<<EOT
-->
<form action="$basename&" method=POST enctype="multipart/form-data">
<input type=hidden name="job" value="$job">
<input type=hidden name="step" value="2">
<input type=hidden name="teamid" value="$teamid">
<table width="95%" align=center cellspacing=0 cellpadding=5 class="userbg">
<tr class="head" height="25"><td colspan="2"><h2>我的{$db_teamname}</h2></td></tr>
<tr><td class="b" width='30%'>{$db_teamname}名称</td><td class="b"><input type=text name="name" value='$name'>&nbsp;&nbsp;<input type="checkbox" name="type" value="1" $typechecked>&nbsp;加入不需要认证</td></tr>
<tr>
	<td class="b">{$db_teamname}图片</td>
	<td class="b">
		<img id='icon' src='$imgpath/upload/$rt[icon]' width="180" height="180"/>$input
		<br /><br />
		<input type="file" size="20" name="attachment_1" id="attachment_1" onchange="GE('icon').src = this.value;">
	</td>
</tr>
<tr><td class="b">浏览权限: </td>
<td class="b"><input type="radio" name="ifshow" value="0" $ifshow_0> 完全隐藏
<input type="radio" name="ifshow" value="1" $ifshow_1> 只许{$db_teamname}成员浏览
<input type="radio" name="ifshow" value="2" $ifshow_2> 只许注册用户浏览
<input type="radio" name="ifshow" value="3" $ifshow_3> 完全公开</td></tr>
<tr><td class="b">所属分类</td><td class="b"><select name="cid">$forumcache</select></td></tr>
<tr><td class="b">{$db_teamname}描述</td>
<td class="b"><textarea name="descrip" rows="3" cols="50">$descrip</textarea></td></tr>
<tr><td class="b">{$db_teamname}公告</td>
<td class="b"><textarea name="notice" rows="5" cols="50">$notice</textarea></td></tr>
</table>
<br><center><input class="bt" type=submit value="提 交"></center></form>
<!--
EOT;
}?>