<!--<?php
print <<<EOT
-->
<form name='form1' method="post" action="$basename&">
<table width='95%' align=center cellspacing=1 cellpadding=3 class="i_table">
<tr><td class=head colspan=2><b>修改个人信息</b></td></tr>
<tr class="b"><td width="30%" >用户名</td><td><input type="text" size="20" name="username" value="$admin_name"></td></tr>
<tr class="b"><td>密码</td><td><input type="text" size="20" name="word"></td></tr>
<input name='step' type=hidden value=2>
<br><center><input class="bt" type='Submit' value='提 交' name='Submit'></center>
</form>
<!--
EOT;
?>