<!--<?php print <<<EOT
-->
<form action="$basename&" name=form1 method=POST>
<input type="hidden" name="job" value="update">
<table width="95%" align=center cellspacing=0 cellpadding=5 class="userbg">
<tr height="25"><td colspan="2" class="head"><h2>管理我的公告</h2></td></tr>
<tr>
	<td width="20%" class="b">标题</td>
	<td class="b"><input type="text" class="input" name="title" value="$title" size=80></td>
</tr>
<tr>
	<td class="b">内容</td>
	<td class="b"><textarea name="content" rows="5" cols="80">$content</textarea></td>
</tr>
</table>
<br><center><input class="bt" type=submit value="提 交"></center></form><br>
<!--
EOT;
?>